{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>{{ restaurants.name }}</h1>
    <img class="fit-picture" src={{ restaurants.picture }} style="max-width: 25%;">
    <p>{{ restaurants.address}}, {{ restaurants.city}}</p>
    <p>{{ restaurants.phone}}</p>
</div>
    <div class="row justify-content-start mr-5 ml-5">
        {% for product in products %}
            <div class="col-sm-4">
                <div class="card border-secondary mb-3" style="max-width: 40rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <img class="fit-picture" src={{ product.picture }} style="max-width: 100%;">
                        <p class="card-text">{{ product.description }}</p>
                        <h5 class="text-center text-primary d-inline-flex mr-5" style="font-size: 2rem">{{ product.price }}€</h5>
                        <a href="{{ path('panier_add', {'id': product.id, 'restaurants': restaurants.id}) }}" class="card-link">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}